body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(202, 94%, 86%, 1);
    background: linear-gradient(90deg, hsla(202, 94%, 86%, 1) 0%, hsla(199, 79%, 46%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(202, 94%, 86%, 1) 0%, hsla(199, 79%, 46%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(202, 94%, 86%, 1) 0%, hsla(199, 79%, 46%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#BAE4FD", endColorstr="#1999D4", GradientType=1);
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c0392b;
}

.image-container img {

    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}